@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.container{
		max-width: 1320px;
		margin: 0 auto;
		padding: 0 15px;
	}

	img {
		display: block;
		width: 100%;
	}

	a {
		color: inherit;
		text-decoration: none;
		display: inline-block;
	}

	ul {
		list-style: none;
	}


	.row {
		display: flex;
		flex-wrap: wrap;
	}

	/* col start */

	.col-3 {
		width: 25%;
		padding: 12px;
	}

	.col-4 {
		width: 33.32%;
		padding: 12px;
	}



	.col-6 {
		width: 50%;
		padding: 12px;
		padding: 12px;
	}

	.col-12 {
		width: 100%;
		padding: 0 12px;
	}

	/* col end */


	/* margin start  */

	/* margin top starts */
	.mt-1 {
		margin-top: 1rem;
	}

	.mt-2 {
		margin-top: 2rem;
	}

	.mt-3 {
		margin-top: 3rem;
	}

	/* margin top ends  */

	.text-center{
		text-align: center;
	}

	/* display properties  starts */
	.d-flex {
		display: flex;
	}

	.justify-space-between {
		justify-content: space-between;
	}

	.justify-center {
		justify-content: center;
	}

	.align-center {
		align-items: center;
	}

	.flex-column {
		flex-direction: column;
	}

	/* display properties ends */

	/* header section starts  */
	.header-nav{
		margin-left: auto;
		padding-top: 20px ;
		z-index: 999;
	}


	.header-nav a img{
		height: 40px;
		width: 148px;
		fill: #E50914;
	}

	.header-nav .btn-group {
		gap: 1rem;
	}
		
	.header-nav .btn-group button,.footer-bottom .footer-bottom-btn button{
		width: 100px;
		padding: 10px 16px;
		background-color: transparent;
		border-radius: 4px ;
		border: 1px solid #fff;
	}

	.header-nav .btn-group select,.footer-bottom .footer-bottom-btn select{
		color: #ffff;
		background-color: transparent;
		border: none;
	}

	.header-nav .btn-group option,.footer-bottom .footer-bottom-btn option{
		color: #000;
	}

	.header-nav .btn-group a{
		background-color: #C11119;
		padding: 10px 10px;
		border-radius: 4px;
		color: #ffff;
		transition: all 0.3s ease-in-out;
	}

	.header-nav .btn-group a:hover{
		background-color: #e50914d4;
	}
/* header section ends */

/* hero section starts  */

	.hero{
		position: relative;
	}

	.hero-content{
		padding: 120px 0;
	}

	.site-wrapper{
		background-image: url('../img/hero.png');
		width: 100%;
		min-height: 100vh;
		background-blend-mode: multiply;
		background-color: rgba(0, 0, 0, 0.725);
		background-size: cover;
		z-index: 1;
	}

	.hero-content{
		color: #fff;
	}

	.hero-content h2{
		font-family: 'Montserrat', sans-serif;
		font-size: 3.5rem;
		font-weight: 900; 
		font-size: 3.5em; 
		margin-bottom: 1rem;
	}

	.hero-content p:nth-child(2){
		font-weight: 600; 
		font-family: 'Montserrat', sans-serif;
		font-size: 1.3rem;
		margin-bottom: 3rem;
		color: #FFFFF0;

	}
		
	.hero-content p{
		margin-bottom: 1.5rem;
		font-weight: 500; 
		font-family: 'Roboto', sans-serif;
		font-size: 1rem;
		word-spacing: 1px;
		color: #FFFFF0;
		z-index: 20;
	}

	.hero-content input,.ready-to-watch .ready-to-watch-btn input{
		font-family: 'Roboto', sans-serif;
		text-align: left;
		margin-left: 20px;
		padding: 24px 16px 18px 16px;
		width: 30%;
		background-color: transparent;
		border: 1px solid #60605f;
		border-radius: 4px;
	}

	.hero-content input::placeholder,.ready-to-watch .ready-to-watch-btn input::placeholder{
		color: #7F7E7F;
		font-weight: 700;
	}

	.hero-btn,.ready-to-watch .ready-to-watch-btn{
		gap: 1rem;
		width: 100%;
	}
	
	.hero-content button,.ready-to-watch .ready-to-watch-btn button{
		cursor: pointer;
		font-family: 'Roboto', sans-serif;
		padding: 0.75rem 1.5rem;
		font-weight: 400;
		font-size: 23px;
		background: #E50914;
		border: 1px solid #E50914;
		border-radius: 4px;
		font-weight: 500;
		color: #fff;
		display: inline-flex;
	}

	.hero-content button:hover,
	.ready-to-watch .ready-to-watch-btn button:hover
	{
		background: #C11119;
	}


	.hero-content button i,.ready-to-watch .ready-to-watch-btn button i{
		margin-left: 10px;
	}

	/* curve section starts  */

	.hero .curve{
		position: relative;
		height: 8.5rem;
		overflow-x: hidden;
		z-index: 1;
	}
	
	.curve .curve-upperbound{
		height: 100%;
		position: absolute;
		top: 0;
		border: solid .25rem transparent;
		border-top-left-radius: 50% 100%;
    	border-top-right-radius: 50% 100%;
    	border-bottom: none;
    	background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%) ;
		width: 130%;
		left: -15%;
		margin: auto;
		overflow: hidden;
		z-index: 0;
	}

	.curve .curve-upperbound::before{
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;	
		background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
		z-index: -1;
		margin-top: -4px;
	}

	/* curve section ends */
	/* hero section ends */

	/* trending section starts  */

	.trending{
		padding: 0 150px;
		background-color: #000000;
		font-family: Roboto,sans-serif;
	}

	.trending .trending-header h3,.trending .reason-header h3,.trending .reason-item h3,.faq .faq-header h3{
		color: #fff;
		font-size: 24px;
	}

	.trending-img{
		cursor: pointer;
		width: 100%;
		aspect-ratio: 2 / 3;
		height: 270px;
		border-radius: 5px;
		background-repeat: no-repeat;
		transition: transform ease-in-out 0.3s, backgruond ease-in-out 0.3s;
	}

	.trending-img:hover{
		transform: scale(1.1);
		overflow: hidden;
	}


	.trending .trending-img-1{
		background-image: url('../img/trending-1.png');
	}

	.trending .trending-img-2{
		background-image: url('../img/trending-2.png');
	}

	.trending .trending-img-3{
		background-image: url('../img/trending-3.png');
	}

	.trending .trending-img-4{
		background-image: url('../img/trending-4.png');
	}
	
	.trending .reason-item{
		position: relative;
		padding-top: 24px;
		padding-bottom: 128px;
		padding-left: 16px;
		padding-right: 16px;
		background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
		border-radius: 8px;
		font-family: Roboto,sans-serif;
		height: 100%;
	}

	.trending .reason-item p{
		margin-top: 20px;
		color: #ACACB6;
	}

	.trending .reason-icon{
		position: absolute;
		top: 100;
		bottom: 0;
		right: 0;
	}

	.trending .reason-icon svg{
		margin-left: 0.50rem;
		margin-right: 0.50rem;	
		margin-bottom: 0.50rem;
	}
	/* trending section ends   */

	/* FAQ section starts  */
	.faq{
		padding: 40px 150px;
		background-color: #000000;
		font-family: Roboto,sans-serif;		
	}

	.faq .faq-header h3{
		margin-bottom: 16px;
	}

	.faq .faq-modals{
		padding: 24px;
		background-color: #2d2d2d;
		position: relative;
		margin-bottom: 10px;
	}
	
	.faq .faq-modals:hover{
		background-color: #414141;
		cursor: pointer;
	}

	.faq .faq-modals h3{
		font-size: 20px;
		font-weight: 400;
		color: #fff;
	}

	
	.faq-modals .faq-icon a{
		font-size: 24px;
		color: #FFFFFF;
	}

	.faq .ready-to-watch{
		padding-top: 60px;
	}

	.faq .ready-to-watch p{
		color: #FFFFFF;
	}

	.faq .ready-to-watch-btn{
		margin-top: 1rem;
	}
	.ready-to-watch .ready-to-watch-btn input{
		padding: 24px 16px 15px 16px;
		min-width: 40%;
	}

	.ready-to-watch .ready-to-watch-btn input::placeholder{
		font-size: 16px;
		font-weight: 400;
		color: #B9B9B9;
	}


	.ready-to-watch .ready-to-watch-btn button{
		padding: 0.75rem 1.5rem;
		font-weight: 500;
		font-size: 23px;
	}
	/* FAQ section ends */

	/* footer section starts  */
	footer{
		padding: 30px 150px;
		background-color: #000000;
		font-family: Roboto,sans-serif;	
		color: rgba(255,255,255,0.7);
	}

	.footer-top .footer-top-text p a{
		text-decoration-line: underline;
	}

	.footer-content .footer-list ul li a{
		text-decoration-line: underline;
		padding: 10px 0;
		font-size: 15px;		
		transition: all 0.3s ease-in-out;
	}

	.footer-content .footer-list ul li a:hover{
		color: #C11119;
	}

	.footer-bottom .footer-bottom-copyright h5,.footer-bottom .footer-bottom-copyright p{
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 2.5rem;
	}

	.footer-bottom .footer-bottom-copyright p{
		font-size: 13px;
	}

	.footer-bottom .footer-bottom-copyright p a{
		text-decoration: underline;
		color: #2C8EF4;
		font-size: 13px;
	}
	/* footer section ends  */